<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<div>
    <div class="container button__container">
        <a href="/book/" class="btn btn-primary">Book</a>
        <button type="button" class="btn btn-primary"><a href="/books/{{ book.id }}/update/">Change</a></button>
        <button type="button" class="btn btn-primary"><a href="/books/{{ book.id }}/delete/">Delete</a></button>
    </div>
    <h2>{{ book.title }}</h2>
    <p>{{ book.description }}</p>
    <img src="{{ book.image.url }}" alt="">
    <p>{{ book.genre }}</p>
    <p>{{ book.data }}</p>
</div>
</body>
</html>